:root{
  --color-dark: #272727;
  --font-title: 'Teko', sans-serif;
  --font-secondary: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*{
  margin:0;
  padding: 0;
  text-align: center;
}

h1{
  font-family: var(--font-title);
  font-size: 4rem;
}

h2{
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: 2px;
  word-spacing: 4px;
}

p{
  font-family: var(--font-secondary);
}

header{
  display: flex;
}

.slide{
  background-image: url(./images/photos/slide-1-1920x850.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  color: var(--color-dark);
}

.box{
  box-sizing: border-box;
  border: 1px solid rgb(190, 190, 190);
  margin: 10px;
}

.first-line{
  display: flex;
  justify-content: center;
}

.comment-card{
  width: 720px;
  box-sizing: border-box;
  border: 1px solid rgb(190, 190, 190);
}

.shopnow{
  background-image: url(./images/bg-cta-2.jpg);
  width: 100%;
  text-align: center;
  color: white;
}
.shopnow2{
  background-image: url(./images/bg-cta-3.jpg);
  /* width: 100%; */
  text-align: center;
  color: white;
}
footer{
  background-color: var(--color-dark);
  color: white;

}